<table>
    <thead>
      <tr>
        <!-- <th>Illustration</th> -->
        <th>Héro</th>
        <th>Genre</th>
        <th>Race</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let hero of selectedHeroes">
          <tr>
            <!-- <td *ngIf="hero"><img src="{{hero.image.url}}" (error)="setSrc(image)" alt="" #image></td> -->
            <td *ngIf="hero">{{hero.name}}</td>
            <td *ngIf="hero">{{hero.appearance.gender}}</td>
            <td *ngIf="hero">{{hero.appearance.race}}</td>
            <!-- <td><button (click)="reserveHero(hero)">+</button></td> -->
          </tr>
      </ng-container>
    </tbody>
  </table>
