<div>
    <h1>XXX vien d'interrompre votre achat !</h1>
    <h3>Qu'est-ce que.. ?!!</h3>
    <img src='../../../../assets/Alert.gif'>
    <h4>Toutes nos excuses, le super vilain XXX a tué votre héro XXX..</h4>
    <p>Le super vilain XXX a hacké le systéme et a repéré votre héro.. <br> Il a directement suivis son trajet et lui a lancer un cornichon génétiquement modifié dans la tronche.. <br> Votre héro n'a pas tenu le coup..</p>
    <h4>Vous avez participé a l'anéantissement de votre héro.. 😥</h4>
</div>

