<div class="Pauline">
  <h1>A propos de nous, </h1>
  <img src='../../../assets/superUberSlip.png'>
  
  <h2>Notre entreprise a été créer le 01/08/2021 a New York City.</h2>
  <h3>Nos bureaux se trouve a :</h3><p><br> 633 Valley View <br>Co Webster,<br> NY 14580</p>
  <h4>Nous dévellopponts nos ventes de services<br> afin que chaque héro <br>puis-ce eux aussi <br> gagnez leurs vies !</h4>
  <p>Contact : 039/45.32.34<br>Mail : SuperUber@hero.com</p>
  <br>
  <br>
  <h5>Si la ligne téléphonique ne répond pas, veuillez patienté, flash provoque pas mal de court-circuit..<br>
  pour les problémes de paiements ou de livraisons, merci de vous adressé a Donald Trump.<br> Nous n'avont aucune assurance, a vos risque et périls. (*Tout est dans les confitions de vente.)<br>Pour des bug rencontrez sur notre site, merci de vous abstenir, nos dev sont plutot fénéant. ✌ mais c'est gratuit, alors.. </h5>
</div>





