<div class="Pauline">
  <h1>À propos de nous </h1>
  <img src='../../../assets/superUberSlip.png'>
  
  <h2>Notre entreprise a été créée le 01/08/2021 à New York City.</h2>
  <h3>Nos bureaux se trouvent à :</h3><p><br> 633 Valley View <br>Co Webster,<br> NY 14580</p>
  <h4>Nous dévellopons nos ventes de services<br> afin que chaque héro <br>puisse eux aussi <br> gagner leurs vies !</h4>
  <p>Contact : 039/45.32.34<br>Mail : SuperUber@hero.com</p>
  <br>
  <br>
  <h5>Si la ligne téléphonique ne répond pas, veuillez patienter, flash provoque pas mal de courts-circuits..<br>
  pour les problèmes de paiements ou de livraisons, merci de vous adresser à Donald Trump.<br> Nous n'avons aucune assurance, à vos risques et périls. (*Tout est dans les conditions de vente.)<br>Pour des bugd rencontrés sur notre site, merci de vous abstenir, nos dev sont plutôt fainéants. ✌ Mais c'est gratuit, alors... </h5>
</div>





