img{
    width: 80px;
    height: auto;
}
table{
    margin-top: 50px;
    width: 80%;
    text-align: center;
}
#vedette{
    text-align: center;
    color: #044888;
    font-weight: 800;
    font-size: 2rem;
}
#imgVedette{
 width: 300px;
}