@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    background-color: #ffeed9;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
}

img{
    width: 80px;
    height: auto;
}
table{
    margin-top: 50px;
    margin: auto;
    width: 80%;
    text-align: center;
}
#vedette{
    text-align: center;
    color: #044888;
    font-weight: 800;
    font-size: 2rem;
}
#imgVedette{
    width: 300px;
}

h3{
    font-size: 40px;
}

button{
    background-color: #ffac40;
    cursor: pointer;
    width: 40px;
}