<footer class="Footer" role="contentinfo">

    <div class="container">

        <p class="superHuber">SuperUber !</p>
        <p class="cacher">Ou Super dupé.. haha ! Je ne suis pas payé pour coder ça. u_u' Donnez-moi une pizza. 🍕</p>
        <!--Logo-->
        <div class="logo-Stack">

            <div class="logo">
                <img src="../../../assets/logo.png" alt="">
            </div>

            <div class="entity">

                <p class="tamu-mark">Les Canards Exaltés en plein hackathon !<br> Pour I3-Namur, formation développeur back-end !</p>
                <p class="unit-mark">Gaël, Léonie, Pauline et Ornella 💙 </p>
                
            </div>
        </div>
    </div>
    <nav class="subfooter">
        <ul class="menu">
            <li><a routerLink="/shop">Commande ton Héro dès maintenant !</a></li>
        </ul>
        <p class="copyright">© 2021 CanardsExaltés</p>
        <p class="satisfait">* Satisfait et non remboursé. 😎</p>
    </nav>
    </footer>