<div class="Pauline">
  <h1>Bienvenue dans l'accueil.</h1>
  <button routerLink="/shop">Get Started</button>
</div>

<div class="separer"></div>
<div class="ornella">
  <h2>Bienvenue chez SuperUber !</h2>
  <p><br>Envie de surmonter tes peurs ?! <br> De rencontrer ton héro préféré ?! <br> Imagine-toi voler dans le ciel, courir du Japon à New York en 3 secondes <br> ou encore, geler tout un océan pour faire du patin entre copains ?!</p>
  <h2>
    Alors, n'attends plus !<a routerLink="/shop">💥</a><br>
  </h2>
  <h4>*En commandant, vous acceptez de ne pas porter plainte: *en cas d'accident.<br>
    *en cas de sosie déguisé (lucide ou pas lucide).<br>
    *en cas de perte accidentelle en plein vol.<br>
    *en cas de cracure de glace et d'hypothermie fatale.<br>
    *en cas d'ébullition et autres. (Une liste de 53.940 conditions vous sera fournie lors de l'achat.)<br>
  </h4>

</div>

