<div class="Pauline">
  <h1>Bienvenu dans l'acceuil.</h1>
  <button routerLink="/shop">Get Started</button>
</div>

<div class="separer"></div>
<div class="ornella">
  <h2>Bienvenue chez SuperUber !</h2>
  <p><br>Envie de surmonter tes peurs ?! <br> De rencontrer ton héro préféré ?! <br> Imagine toi voller dans le ciel, courrir du Japon a New York en 3 secondes <br> ou encore, gelé tout un océan pour faire du patin entre copin ?!</p>
  <h2>
    Alors, n'attend plus !<a routerLink="/shop">💥</a><br>
  </h2>
  <h4>*en commandent vous acceptez de ne pas portez plainte: *en cas d'accident.<br>
    *en cas de sosie déguisez. (lucide ou pas lucide.)<br>
    *en cas de votre perte accidentelle en plein volle.<br>
    *en cas de cracure de glace et d'hypothermie fatale.<br>
    *en cas d'ébulition et autre. (Une liste de 53.940 condition vous sera fournie lors de l'achat.)<br>
  </h4>

</div>

