div{
    background-image: url("../../../assets/superHeroesBanniere.jpg")
}
div{
    height: 1080px;
    width: auto;
}
button{
    position: absolute;
    padding: 2rem;
    top: 800px;
    margin-left: 50%;
    background-color: white;
}